<div class="row">
  <div class="col-md-3">
    <%= image_tag(@user.image, class: 'user-profile-image') %>
    <hr>
    <h2><%= @user.name %></h2>
    <p><%= @user.bio %></p>
    <% if current_user == @user %>
      <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default btn-block' %>
    <% end %>
  </div>
  <div class="col-md-9">
    <h3>Folios</h3>
    <table class="table">
      <tr>
        <th>Folio Name</th>
        <th>Tags</th>
      </tr>
      <% @user.folios.each do |folio| %>
      <tr>
        <td><%= link_to folio.name, folio %></td>
        <td><%= render 'tags', tags: folio.tags %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
