<div class="row">
  <div class="col-md-12 folio-page-tab-bar">
    <ul class="nav nav-tabs">
      <% @folio.folio_pages.order(:page_order).each do |folio_page| %>
      <li role="presentation" <% if folio_page == @folio_page %>class="active"<%end%>>
        <%= link_to folio_page.title, folio_page %>
      </li>
      <% end %>
      <% if current_user_owns_folio? %>
        <li role="presentation"><%= link_to '+', new_folio_page_path(folio_id: @folio.id) %></li>
      <% end %>
    </ul>
  </div>
</div>

<% @rows.each do |row| %>
  <div class="row">
    <% row.folio_page_row_columns.each do |col| %>
      <div class="col-md-<%= col.column_width * 3 %>">
        <div class="well">
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Caption</button>
            <button type="button" class="btn btn-default">Image</button>
            <button type="button" class="btn btn-default" onclick="mergeRight(<%= col[:id] %>)">Merge Right</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user_owns_folio? %>
  <div class="row">
    <div class="col-md-12">
      <%= form_for :folio_page_row, url: folio_page_add_row_path(@folio_page) do |f| %>
        <%= hidden_field_tag :folio_id, @folio.id %>
        <%= hidden_field_tag :folio_page_id, @folio_page.id %>
        <%= hidden_field_tag :row_order, @rows.length %>
        <%= f.submit 'Add Row', class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    </div>
  </div>

  <%= form_for :folio_page_row, html: {id: 'merge_folio'}, url: folio_page_merge_row_column_path(@folio_page) do |f| %>
  <%= hidden_field_tag :folio_id, @folio.id, id: 'merge_folio_id' %>
  <%= hidden_field_tag :folio_page_id, @folio_page.id, id: 'merge_folio_page_id' %>
  <%= hidden_field_tag :folio_page_row_column_id, 0, id: 'merge_folio_page_row_column_id' %>
  <% end %>

  <script>
    function mergeRight(id) {
      $('#merge_folio_page_row_column_id')[0].value = id;
      $('#merge_folio')[0].submit();
    }
  </script>
<% end %>
