<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= APP_NAME %></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Create', new_folio_path, id: 'new_folio' %></li>
        <li><%= link_to 'Browse', folios_path, id: 'browse_folios' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <%= current_user.name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Sign out', signout_path, id: 'sign_out' %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Sign in', '/auth/google_oauth2', id: 'sign_in' %></li>
        <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
